POSTGRES_DB=bridge_tournament
POSTGRES_USER=bridge_tournament
POSTGRES_PASSWORD=local_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DOCKER_SUBNET=172.30.251.0/24
TELEGRAM_BOT_TOKEN=replace_with_your_development_bot_token
TELEGRAM_BOT_USERNAME=BridgeTournamentBot
